body {
    margin: 0;
    background-color: #333333;
    color: #bdbdbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noto-sans-title {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  #board {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      width: 80vw;
      height: auto;
      margin-bottom: 20px;
      background: rgb(29, 29, 29);
  }

  #bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 80vw;
    height: auto;
    margin-bottom: 100px;
    background: rgb(29, 29, 29);
}

  .rowholder {
    display: flex;
    width: 100%;
    min-height: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}
  .row {
      display: flex;
      width: 100%;
      background-color: rgb(40,40,40);
      flex-flow: row wrap;
      padding-right: 15px;
      min-height: 120px;

  }

  .label {
      min-height: 100px;
      width: 120px;
      max-width: 120px;
      display: flex;
      text-align: center; 
      justify-content: center;
      align-items: center;
      user-select: none;
      color: rgb(32, 32, 32);
      font-size: 14px;
      padding: 5px;
      box-sizing: border-box;
  }

  .card {
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 120px;
      width: 140px;
      background: radial-gradient(rgb(56, 56, 56), rgb(31, 31, 31));
      user-select: none;
      font-family: "Poetsen One", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 18px;
      color: white;
      border-color: black;
      border: 5px;
      box-sizing: border-box;
      padding: 15px;
  }

  .hide {
    transition: 0.01s;
    transform: translateX(-9999px);
  }

  .pink {
    background-color: rgb(254, 127, 254);
  }

  .red {
    background-color: rgb(255, 127, 127);
  }

  .orange {
    background-color: rgb(254, 191, 128);
  }

  .gold {
    background-color: rgb(255, 225, 129);
  }

  .yellow {
    background-color: rgb(253, 253, 129);
  }

  .green {
    background-color: rgb(192, 254, 126);
  }

  .blue {
    background-color: rgb(128, 190, 255);
  }

  .purple {
    background-color: rgb(113, 113, 227);
  }